@model IEnumerable<Projet2024V2.Models.CandidateOffreViewModel>

@{
    ViewBag.Title = "ConsulteCandidates";
}

<div class="container p-0">
    <h4>
        Mes offres postulats
    </h4>
    <div class="table-responsive">

        <table class="table  table-striped table-bordered">
            <table class="table  table-striped table-bordered">
                <tr class="table-success">
                    <th>
                        @Html.DisplayNameFor(model => model.OffreID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateAge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateNbExperiences)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateDiploma)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CVFile)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OffreID)
                            <a href="@Url.Action("Details", "Offres",new { id = item.OffreID })" class="ml-1">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateAge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateNbExperiences)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateDiploma)
                        </td>
                        <td>
                            <a href="@Url.Action("DownloadCV","Candidates", new { id = item.CandidateID })" class="btn btn-outline-primary fw-semibold"><i class="fa-solid fa-download"></i></a>
                        </td>
                    </tr>
                }

            </table>



    </div>
</div>





     